<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="FindAndReplace.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <FindAndReplace.App.Properties.Settings>
            <setting name="Dir" serializeAs="String">
                <value/>
            </setting>
            <setting name="IncludeSubDirectories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileMask" serializeAs="String">
                <value/>
            </setting>
            <setting name="ExcludeFileMask" serializeAs="String">
                <value/>
            </setting>
            <setting name="ExcludeDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="FindText" serializeAs="String">
                <value/>
            </setting>
            <setting name="IsCaseSensitive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsRegEx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkipBinaryFileDetection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowEncoding" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeFilesWithoutMatches" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReplaceText" serializeAs="String">
                <value/>
            </setting>
            <setting name="UseEscapeChars" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Encoding" serializeAs="String">
                <value/>
            </setting>
            <setting name="IsKeepModifiedDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsFirstTime" serializeAs="String">
                <value>True</value>
            </setting>
        </FindAndReplace.App.Properties.Settings>
    </userSettings>
</configuration>
